html,
body {
    padding: 0;
    margin: 0;
}

header {
    /* display: flex; */
    /* height: 134px;
    left: 0px;
    top: 0px; */
    background: #edf2ec;
    padding: 42px 0;
}

.plantword {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.logo-plants {
    display: flex;
    /* margin: 56.04px 702px 60.96px 111px; */
}

.headul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 452px;
    padding: 0;
    margin: 0;
}

ul.headul li {
    display: inline;
    /* padding: 0 0 0 46.5px; */
    /* margin-top: 42px;
    margin-bottom: 42px; */
}

ul.headul li a {
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    color: #010201;
}

ul.headul li a:hover {
    color: #e06733;
}

.heclas {
    display: flex;
    align-items: center;
}

.welcome {
    background: #edf2ec;
}

.rever-welc {
    max-width: 1222px;
    margin: 0 auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 64px 50px 55px 50px;
}

.grow {
    /* margin: 98px 0 42px 0; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    max-width: 549px;
}

.lorem {
    margin: 44px 0 48px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    max-width: 525.44px;
}

.welearn {
    /* display: flex; */
    /* flex-direction: column; */
    /* order: 2; */
    padding: 10px 0 31.36px 0;
}

.leafs {
    /* margin: 53px 0px 50px 0; */
}

.plants {
    color: #499a18;
}

.learn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    box-sizing: border-box;
    border: 2px solid #e06733;
    border-radius: 10px;
    /* margin: 48px 500px 94px 220px; */
    width: 158px;
    height: 44px;
    background: #edf2ec;
}

.learn:hover {
    background: #e06733;
    color: #ffffff;
}

.about {
    /* display: flex; */
    padding: 93px 0 90px 0;
}

.alabout {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    max-width: 1222px;
    margin: 0 auto;
    padding: 0 50px 0 50px;
}

.wegarden {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499a18;
    max-width: 463px;
    /* height: 102px; */
    margin: 68px 0 37px 0;
}

.profexper {
    color: #e06733;
}

.ablor {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    max-width: 605px;
    /* height: 208px; */
    /* margin-left: 105px;
    margin-right: 153px;
    margin-bottom: 155px; */
}

.houseplant {
    /* margin-top: 92px;
    margin-right: 109px;
    margin-bottom: 90px; */
}

.galpl {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1005px;
    justify-content: space-between;
    padding-bottom: 45px;
}

.buttglp.active {
    background: #e06733;
    color: #ffffff;
}

.buttglp:hover {
    background: #e06733;
    color: #ffffff;
}

.project {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499a18;
    max-width: 306px;
    /* height: 94px; */
    /* margin-left: 106px;
    margin-top: 40px;
    margin-bottom: 88px; */
}

.servbut button {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #e06733;
    border: 1px solid #e06733;
    border-radius: 5px;
    box-sizing: border-box;
    width: 161px;
    height: 50px;
    background: #edf2ec;
}

.servbut {
    display: flex;
    width: 559px;
    /* height: 50px; */
    justify-content: space-between;
    /* margin: 69px 324px 105px 142px; */
}

.servimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 0px 0 67px 0; */
    max-width: 1222px;
}

.service_item h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #e06733;
    margin-top: 6px;
    margin-bottom: 13px;
}

.service_item p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin-top: 0px;
}

.service_item {
    border: 1px solid #e3e1d5;
    border-radius: 20px;
    width: 330px;
    height: 450px;
    margin-bottom: 53px;
    text-align: center;
}

.service_item.blur {
    filter: blur(2px);
    transition: 1s;
}

.service_item.no-blur {
    filter: blur(0px);
    transition: 1s;
}

.service {
    background: #edf2ec;
}

.leveling-service {
    max-width: 1222px;
    margin: 0 auto;
    /* padding-top: 8px;
    padding-bottom: 66px; */
    padding: 8px 50px 66px 50px;
}

.prices {
    /* display: flex; */
}

.priceour {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1222px;
    margin: 0 auto;
    /* padding-top: 40px;
    padding-bottom: 115px; */
    padding: 40px 50px 115px 50px;
    /* flex-direction: column; */
}

.word-prices {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 60px 0;
}

.bastapro {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 34px 41px;
    width: 332px;
    /* height: 282.01px;  */
    border: 1px solid #e3e1d5;
    border-radius: 20px;
    /* margin: 0px 0px 128.98px 105px; */
    gap: 32px;
}

.accord {
    display: flex;
    flex-direction: row;
    background: #edf2ec;
    border-radius: 20px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    border: transparent;
    width: 250px;
    /* margin-bottom: 32px; */
}

.accord.opened {
    margin-bottom: 0px;
    background: #d6e7d2;
    border-radius: 20px 20px 0px 0px;
}

.acc-open {
    display: none;
}

.acc-open.opened {
    display: block;
    /* width: 250px;
    height: 154px; */
    background: #d6e7d2;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 40px 0px 40px;
    border-top: 0.5px solid #aea1a1;
}

.acc-open p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
    margin-top: 2px;
}

.acc-open p:nth-of-type(2) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 4px;
}

.accordacc {
    width: 250px;
}

.red-bastapro {
    color: #e06733;
    font-size: 15px;
}

.btn-order {
    width: 86px;
    height: 25px;
    background: #ffffff;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    margin-bottom: 20px;
    border: 0;
}

.btn-order a {
    text-decoration: none;
    color: #717171;
}

.ourbest {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    max-width: 452px;
    margin: 0 0 40px 0px;
}

.contaverage {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    max-width: 1222px;
    margin: 0 auto;
    padding-top: 25px;
}

.uscity {
    display: flex;
}

.contactus {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #e06733;
    box-sizing: border-box;
    width: 162px;
    height: 50px;
    border: 1px solid #e06733;
    border-radius: 5px;
    background: #ffffff;
    /* margin-right: 109px; */
    margin-bottom: 39px;
}

.bestus {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imgleafsprice {
    width: 152px;
    height: 174.99px;
    /* margin-right: 109px; */
}

.contacts {
    /* display: flex; */
    background: #edf2ec;
}

.btn-city {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background: #d6e7d2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    margin: 122px 0px 0px 0px;
    padding-left: 20px;
    padding-right: 35px;
    width: 395px;
}

.btn-city.active.passive {
    display: none;
}

.btn-city:hover {
    background: #c1e698;
}

.allcard {
    display: none;
}

.allcard.active {
    display: flex;
    flex-direction: column;
    margin: 52px 0px 0px 0px;
    box-sizing: border-box;
    /* background: #EDF2EC; */
    border: 1px solid #000000;
    border-radius: 20px;
    width: 448px;
    height: 214px;
}

.cardCity {
    display: flex;
}

.selectCity {
    display: none;
}

.selectCity.active {
    display: block;
    background: #dce9d9;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 23px 50px 30px 25px;
}

.selectCity.active.passive {
    padding: 0px;
    margin: 148px 0px 0px 0px;
    width: 450px;
    padding-bottom: 31px;
    background: #edf2ec;
}

.selectCity.active.passive.calus {
    display: block;
}

.calus a {
    text-decoration: none;
    color: #717171;
}

.selectItem {
    border-bottom: 1px solid #d9d9d9;
    list-style: none;
    margin-top: 5px;
}

.selectItem:hover {
    border-bottom: 1px solid #717171;
}

.selectItem.passive {
    display: none;
}

.selectItem span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #499a18;
    margin-bottom: 0px;
}

.selectItem span:hover {
    color: #717171;
}

.selectItem.top {
    border-bottom: none;
    margin: 0px;
    padding-top: 7px;
    background: #c1e698;
    padding-left: 20px;
}

.ciphof {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 16px 0px 0px 35px;
}

.ciphof p {
    margin: 0px 0px 0px 0px;
}

.numbstreet {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    margin: 16px 0px 0px 16px;
}

.numbstreet p {
    margin: 0px 0px 0px 0px;
}

.calus {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #717171;
    width: 122px;
    height: 26px;
    border: 1px solid #e06733;
    border-radius: 5px;
    margin: 18px 0px 0px 164px;
}

/* .selectCity.active button {
    display: none;
} */

.img-woman {
    margin: 27px 113px 0px 0;
}

.uscont {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499a18;
    /* margin-top: 60px; */
    margin-right: 68px;
    /* height: 51px; */
}

footer {
    height: 130px;
}

.year {
    display: flex;
    justify-content: space-between;
    /* margin: 40px 336px 40px 105px; */
    width: 170px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}

.rolling {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    /* margin: 40px 280px 40px 0px; */
    text-decoration: none;
    margin-left: 60px;
}

.inst {
    display: flex;
    justify-content: space-between;
    width: 188px;
    align-items: center;
}

.github {
    text-decoration: none;
}

ul.inst li {
    display: inline;
}

.leveling-header {
    margin: 0 auto;
    max-width: 1218px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

.gitrofe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    width: 19px;
    height: 20px;
}

.burger {
    display: none;
}

.popup {
    display: none;
}

.leveling-footer {
    max-width: 1222px;
    margin: 0 auto;
    padding: 35px 0 48px 0;
}

@media screen and (max-width: 788px) {
    .about {
        /* display: flex; */
        padding: 0 0 90px 0;
    }

    .leveling {
        width: 668px;
    }

    .logo-plants {
        display: flex;
        /* margin: 47px 149px 50px 0px; */
    }

    .rever-welc {
        flex-direction: row-reverse;
        padding: 5px 50px 40px 50px;
    }

    header {
        /* padding: 0; */
    }

    .grow {
        /* margin: 39px 40px 30px 0px; */
        font-size: 35px;
        max-width: 341px;
    }

    .lorem {
        margin: 31px 0 35px 4px;
        font-size: 16px;
        line-height: 25px;
        max-width: 341px;
    }

    .leafs {
        margin: 30px 0px 50px 0px;
    }

    .learn {
        /* margin: 0px 230px 70px 0px; */
        width: 158px;
        height: 44px;
        background: #edf2ec;
    }

    .welcome img {
        width: 280px;
        height: 265px;
    }

    /* .leveling-service {
        padding-left: 50px;
        padding-right: 50px;
    } */

    .wegarden {
        font-size: 35px;
        line-height: 46px;
        max-width: 423px;
        /* height: 102px; */
        margin: 40px 0px 30px 0px;
        text-align: center;
    }

    .ablor {
        max-width: 668px;
        /* height: 208px; */
        /* margin: 0px 0px 40px 0px; */
    }

    .houseplant {
        width: 250px;
        height: 258px;
        margin: 45px 0px 4px 0px;
    }

    .alabout {
        align-items: center;
        flex-direction: column;
    }

    .welore {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 668px;
    }

    .galpl {
        display: inline;
    }

    .leveling-service {
        padding-bottom: 2px;
    }

    .project {
        font-size: 35px;
        line-height: 46px;
        width: 306px;
        /* height: 94px; */
        /* margin-left: 0px; */
        margin-top: 52px;
        margin-bottom: 40px;
    }

    .priceour {
        /* margin: 0 50px 0 50px; */
        padding-bottom: 0;
    }

    .servbut {
        display: flex;
        width: 559px;
        justify-content: space-between;
        margin: 0px 0px 40px 0px;
    }

    .servimg {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 0px 30px 0px;
        width: 668px;
    }

    .servimg img {
        width: 280px;
        height: 350px;
    }

    .service_item {
        border: 1px solid #e3e1d5;
        border-radius: 0px 0px 20px 20px;
        width: 280px;
        margin-bottom: 37px;
        text-align: center;
    }

    .service_item p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #717171;
        margin-top: 11px;
        margin-bottom: 0px;
        margin-left: 39px;
        width: 201px;
        height: 40px;
    }

    .service_item h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #e06733;
        margin-top: 6px;
        margin-bottom: 0px;
    }

    .word-prices {
        font-size: 35px;
        line-height: 42px;
        margin: 0 0 57px 14px;
    }

    .bastapro {
        margin: 0px 0px 163px 0px;
    }

    .ourbest {
        font-size: 25px;
        line-height: 35px;
        /* text-align: right; */
        max-width: 296px;
        margin: 98px 0px 22px 0px;
    }

    .contactus {
        font-family: 'Inika';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color: #e06733;
        box-sizing: border-box;
        width: 162px;
        height: 50px;
        border: 1px solid #e06733;
        border-radius: 5px;
        background: #ffffff;
        margin: 7px 0px 34px 124px;
    }

    .imgleafsprice {
        width: 152px;
        height: 174.99px;
        margin-right: 0px;
    }

    .contaverage {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        max-width: 668px;
    }

    .uscity {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .uscont {
        margin: 12px 0 100px 0;
        max-width: 192px;
        /* height: 51px; */
    }

    .btn-city {
        margin: 0px 0px 0px 0px;
        width: 395px;
    }

    .img-woman {
        width: 200px;
        height: 248.49px;
        margin: 248px 0px 0px 20px;
    }

    .leveling-footer {
        padding: 0 50px 50px 50px;
    }

    .year {
        margin: 20px 50px 0px 48px;
        height: 40px;
    }

    .rolling {
        margin: 0px 0px 15px 0px;
    }

    .gitrofe {
        flex-direction: column;
        box-sizing: border-box;
        margin: 0px 200px;
    }

    .inst {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 380px) {
    .leveling {
        width: 330px;
    }

    .lineburg {
        display: block;
        height: 2px;
        width: 40px;
        margin: 6px auto;
        background-color: #717171;
        transition: 0.5s;
    }

    .logo-plants {
        display: flex;
        margin: 47px 0px 50px 0px;
    }

    .heclas {
        display: none;
    }

    /* .logo_img {
        width: 19px;
        height: 20px;
    } */

    .acc-open.opened {
        width: 96px;
        height: 128px;
    }

    .selectItem.top {
        width: 284px;
        margin-left: 10px;
    }

    .allcard.active {
        margin: 52px 0px 0px 21px;
        width: 282px;
        height: 211px;
    }

    .numbstreet {
        margin: 34px 0px 0px 0px;
        line-height: 16px;
    }

    .numbstreet p {
        margin: 0px 0px 20px 0px;
        width: 155px;
    }

    .ciphof {
        padding: 34px 0px 0px 37px;
        line-height: 16px;
    }

    .ciphof p {
        margin: 0px 0px 20px 0px;
        width: 70px;
    }

    .calus {
        margin: 4px 0px 0px 86px;
    }

    .selectCity.active {
        margin-left: 10px;
    }

    /* burger start */

    .burger {
        display: block;
        margin: 0;
    }

    .popup {
        position: fixed;
        display: flex;
        top: 96px;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: #edf2ec;
        z-index: 5;
        transition: 0.5s;
        border-top: 2px #e06733 solid;
    }

    .popup.open {
        right: 0;
    }

    .heclas.burger {
        display: flex;
        width: 100%;
        height: 500px;
    }

    .heclas.burger .headul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .heclas.burger li {
        font-size: 25px;
        font-weight: 700;
        width: 100%;
        text-align: center;
    }

    .heclas.burger li a {
        display: inline;
        margin-bottom: 42px;
    }

    .heclas.burger ul.headul li {
        display: inline;
        margin-bottom: 50px;
        margin-top: 0px;
    }

    ul.headul li a {
        text-decoration: none;
        font-family: 'Inika';
        font-style: normal;
        color: #717171;
    }

    .burger.active .lineburg:nth-of-type(3),
    .burger.active .lineburg:nth-of-type(4) {
        display: none;
    }

    .burger.active .lineburg:nth-of-type(1) {
        transform: translateY(4px) rotate(0.125turn);
    }

    .burger.active .lineburg:nth-of-type(2) {
        transform: translateY(-4px) rotate(-0.125turn);
    }

    /* burger end*/

    .logo-plants {
        margin: 0;
    }

    .leafs {
        display: none;
    }

    .grow {
        margin: 5px 0px 17px 0px;
        font-size: 25px;
        line-height: 35px;
        max-width: 330px;
        /* height: 72px; */
    }

    header {
        /* height: 119px; */
    }

    .lorem {
        margin: 0px 0px 26px 0px;
        font-size: 16px;
        line-height: 25px;
        /* width: 314.52px;
        height: 105.42px; */
    }

    .learn {
        margin: 0px 0px 24px 0px;
        font-size: 10px;
        border: 2px solid #e06733;
        border-radius: 10px;
        width: 100px;
        height: 34.14px;
    }

    .alabout {
        display: inline;
    }

    .wegarden {
        font-size: 25px;
        line-height: 33px;
        color: #499a18;
        /* width: 288px;
        height: 57.74px; */
        margin: 11px 0px 16px 0;
        text-align: center;
    }

    .ablor {
        font-size: 15px;
        line-height: 25px;
        color: #636060;
        max-width: 330px;
        /* height: 228.38px; */
        margin: 0;
    }

    .houseplant {
        width: 150px;
        height: 147px;
        margin: 0;
    }

    .galpl {
        display: inline;
    }

    .servimg {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 0px 0px 24px;
        width: 280px;
    }

    .project {
        font-size: 25px;
        line-height: 33px;
        max-width: 187px;
        /* height: 69px; */
        margin: 0 0 5px 0;
    }

    .servbut button {
        font-size: 15px;
        line-height: 20px;
        width: 121px;
        height: 35px;
    }

    .servbut {
        flex-flow: row wrap;
        width: 252px;
        height: 89px;
        justify-content: space-between;
        margin: 40px 0px 30px 0px;
    }

    .servimg img {
        width: 279px;
        height: 350px;
    }

    .service_item {
        width: 280px;
        height: 450px;
        margin-bottom: 31px;
    }

    .service_item p {
        width: 201px;
        height: 40px;
        margin: 0px 10px 10px 39px;
    }

    .service_item h3 {
        margin-bottom: 10px;
    }

    .priceour {
        display: inline;
    }

    .imgleafsprice {
        display: none;
    }

    .word-prices {
        font-size: 25px;
        line-height: 30px;
        margin: 6px 0px 37px 0;
    }

    .accord {
        height: 50px;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 40px;
        width: 176px;
    }

    .bastapro div {
        /* height: 177px; */
        row-gap: 14px;
        margin: 0;
        padding: 0;
    }

    .bastapro {
        padding: 29px 22px;
        width: 224px;
        /* height: 235px; */
        margin: 0px 0px 19px 0;
        gap: 13px;
    }

    .ourbest {
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        max-width: 230px;
        margin: 0px 0px 12px 0px;
    }

    .bestus {
        align-items: center;
        /* margin: 0; */
    }

    .contactus {
        font-size: 15px;
        line-height: 20px;
        width: 121px;
        height: 35px;
        margin: 8px 0px 22px 0px;
    }

    .contaverage {
        display: flex;
        flex-direction: column-reverse;
    }

    .img-woman {
        margin: 133px 0 0 0;
        width: 100px;
        height: 124.25px;
    }

    .uscont {
        font-size: 25px;
        line-height: 33px;
        margin: 0;
        /* height: 34px; */
    }

    .selectCity.active.passive {
        margin-top: 43px;
    }

    .btn-city {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 80px 0 0 0;
        padding-left: 20px;
        padding-right: 20px;
        width: 262px;
    }

    .uscity {
        /* display: inline; */
    }

    .gitrofe {
        flex-direction: column;
        box-sizing: border-box;
        margin: 0;
    }

    .year {
        margin: 7px 0 0 0;
        height: 40px;
    }

    .rolling {
        margin: 0;
        width: 210px;
    }

    .inst {
        margin: 0 0 15px 0;
    }

    .leveling-header {
        max-width: 327px;
        padding: 0;
    }

    .rever-welc {
        /* flex-direction: row-reverse; */
        padding: 0;
        justify-content: center;
    }

    .welearn {
        /* display: flex; */
        /* flex-direction: column; */
        /* order: 2; */
        padding: 10px 0 0 10px;
    }

    .about {
        padding-bottom: 14px;
    }

    .houseplant_div {
        display: flex;
        justify-content: center;
    }

    .leveling-service {
        padding: 30px 0 0 15px;
    }

    .word-prices_div {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
    }

    .leveling-footer {
        padding: 0;
    }
}
